<h1>The name of the restaurant is <%= @restaurant.name %></h1>
<h2>Address</h2>
<p><%= @restaurant.address %></p>
<h3>Rating</h3>
<p><%= @restaurant.rating %></p>
<a href="/">Back to the home page</a>
